*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.header{
	background: #055E54;
	width: 100%;
	height: 100vh;
	padding: 0 10%;
	color: #fff;
	position: relative;
}
nav{
	width: 100%;
	display: flex;
	align-items: centre;
	justify-content: space-between;
	padding: 20px 0;

}
.logo{
	width: 302px;
	height: 67px;
	cursor: pointer;
}
.text-box{
	margin-top: 130px;
	max-width: 600px;
}
.text-box h1{
	font-size: 45px; 
	margin-bottom: 20px;
	color: #fff;
}
.text-box a{
	display: inline-block;
	text-decoration: none;
	color: 055e54;
	background:  #74d6a8; 
	padding: 10px 30px;
	font-size: 18px;
	margin-top: 50px;
	border-radius: 6px;

}
.user-box{
	background: #74d6a8;
	position: absolute;
	top: 0;
	right: 12%

}
.user-box img{
	display: block;
	padding-top:100px;
	width: 410px;
	margin-bottom: -205px;
	
}
.pricing-table{
	background:#fsfsfo;
	padding:40px 0;
}
.pricing-table details{
	width:90%;
	max-width:500px;
	text-align:center;
	margin:0 auto;
	padding:40px 20px;
}
.pricing-table details h2{
	font-size:30px;
	margin-bottom:10px;
}
.pricing-table details p {
	Font-size:15px;
}
.pricing-table .grid {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	gap:20px 0px;
	padding:20px;
}
.pricing-table .grid.box {
	width:250px;
	border:1px solid #eee;
	text-align:center;
	padding:20px;
	background:afff;
	border-radius:10px;
	box-shadow: 0px 2px 10px 5px rgba(0,0,0,0.05);
}
.pricing-table grid box title {
	font-size:10px; 
	font-weight:600;
	margin-bottom:20px;
	color:#555;
}
.pricing-table .grid.box price {
	margin-bottom:20px;
}
.pricing-table .grid.box price {
	display:block;
	font-size:40px;
	margin-bottos: 5px;
}
.pricing-table grid box features {
	color:#555;
	padding:0px 0px;
	border-botto8:1px solid rgba(0,0,0,0.2);
}
.pricing-table .grid box button button {
	width:100%;
	margin:25px 0px 0px;
	padding:10px;
	background: linear-gradient(to botton,#387bd5, 386073);
	color:#fff;
	border-radius:5px;
	outline:none;
	border:none;
	font-weight: 600;
	cursor:pointer;
}
.pricing-table grid box.professional { 
	transform:scale(1.1);
	background: linear-gradient(to bottom, #3a7bd5 #380973);
}
.pricing-table grid box.professional title {
	colour:eee;
}
.pricing-table grid box.professional price {
	color:#fff;
}
.pricing-table grid box.professional features {
	color:#fff;
	border-bottom:1px solid rgba(255,255,255,0.9);
}
.pricing-table grid box.professional button button {
	background:#fff; 
	color:#306073:
}
.Omedia (max-width:004px){
}
.pricing-table grid {
	gap:20px;
}
..pricing-table grid.box.professional ( transform:scale(1);
