*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.header{
	background: #055E54;
	width: 100%;
	height: 100vh;
	padding: 0 10%;
	color: #fff;
	position: relative;

}
.logo{
	width: -50%;
	cursor: pointer;
	padding: 10% 0;
  

 
}
.text-box{
	margin-top: 130px;
	max-width: 600px;
}
.text-box h1{
	font-size: 45px; 
	margin-bottom: 20px;
	color: #3f51b5;
}
.text-box a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background: #3f51b5; 
	padding: 10px 30px;
	font-size: 18px;
	margin-top: 50px;
	border-radius: 6px;

}
.user-box{
	background: #d9e0ff;
	position: absolute;
	top: 0;
	right: 12%
