*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.header{
	background: #055E54;
	width: 100%;
	height: 100vh;
	padding: 0 10%;
	color: #fff;
	position: relative;
	
  
	
}
img {
width: 301.205px;
height: 66.5px;
 
}
.text-box{
	margin-top: 130px;
	max-width: 600px;
}
.text-box h1{
	font-size: 45px; 
	margin-bottom: 20px;
	color: #3451bs;

.text-box a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background: #35165; 
	padding: 10px 30px;
	font-size: 18px;
	margin-top: 50px;
	border-radius: 6px;
