*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.header{
	background: #055E54;
	width: 100%;
	height: 100vh;
	padding: 0 10%;
	color: #fff;
	position: relative;
}
nav{
	width: 100%;
	display: flex;
	align-items: centre;
	justify-content: space-between;
	padding: 20px 0;

}
.logo{
	width: 302px;
	height: 67px;
	cursor: pointer;
}
.text-box{
	margin-top: 130px;
	max-width: 600px;
}
.text-box h1{
	font-size: 45px; 
	margin-bottom: 20px;
	color: #3f51b5;
}
.text-box a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background: #3f51b5; 
	padding: 10px 30px;
	font-size: 18px;
	margin-top: 50px;
	border-radius: 6px;

}
.user-box{
	background: #95f9c1;
	position: absolute;
	top: 0;
	right: 12%
}
.user-box img{
	display: block;
	padding-top:100px;
	width: 410px;

	
