*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.header{
	background: #055E54;
	width: 100%;
	height: 100vh;
	color: #fff;
	position: relative;
	
  
	
}
img {
width: 160px;
height: 20px;
 
}
