*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}


.header{
  width: 100%;
  height: 100%;
  padding: 0 10%;
  background: #055E54;
	logo ift.png{
	width: 200px;
	height: auto;
