*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.header{
	background: #055E54;
	width: 100%;
	height: 100vh;
	padding: 0 10%;
	color: #fff;
	position: relative;
}
nav{
	width: 100%;
	display: flex;
	align-items: centre;
	justify-content: space-between;
	padding: 20px 0;

}
.logo{
	width: 302px;
	height: 67px;
	cursor: pointer;
}
.text-box{
	margin-top: 80px;
	max-width: 600px;
}
.text-box h1{
	font-size: 45px; 
	margin-bottom: 20px;
	color: #fff;
}
.text-box a{
	display: inline-block;
	text-decoration: none;
	color: 055e54;
	background:  #74d6a8; 
	padding: 10px 30px;
	font-size: 18px;
	margin-top: 50px;
	border-radius: 6px;

}
.user-box{
	background: #74d6a8;
	position: absolute;
	top: 0;
	right: 12%

}
.user-box img{
	display: block;
	padding-top:100px;
	width: 410px;
	margin-bottom: -205px;
}
.section{
  width: 100%;
  height: 100vh;
  padding: 0 10%;
  justify-content: center;
  color: #fff;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  width: 100%;
  background: #F6F8FA;
  height: 100vh;
  padding: 0, 0;
  color: #000000;
  position: relative;
}

.details{
  text-align: center;
}

.details h2{
  color:#243238;
  font-size:50px;
  margin: 0;
}
.details p{
  color:#243238;
  font-size:18px;
  padding: 10px 30px;
  margin: 0;
}

.main-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box{
  width: 300px;
  height: 400px;
  margin: 10px;
  text-align: center;
  padding: 40px 20px;
  color: #ffffff;
  position: relative;
  z-index: 2;
  border-radius: 5px;

}
.box > * {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.box::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.box:hover::before{
  width: 95%;
  height: 95%;
  transition: all ease .50s;
}

.box .icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  display: inline-block;
  position: relative;
}

.box .icon .fas{
  color: #404044;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr{
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  width: 70%;
  border: 1px solid rgba(255,255,255, 0.1);

}

.box a{
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color:#D50000 ;
  padding: 10px 25px;
  border-radius: 25px;
  margin-top: 25px;
  display: inline-block;
  font-weight: 600 ;
}
.box a:hover{
  background-color:#243238 ;
}

.box .white-border{
  border: 1px solid #ffffff;
}


.box-grey{
  background-color:#404044 ;
}

.box-red{
  background-color:#D50000;
}
